{% extends 'base.html' %}

<!-- Titleon tab browser -->
{% block title %} Login  {% endblock title %}

{% block navbar-content %}
<i class="fa-solid fa-user-check"></i>&nbsp;&nbsp; Login
{% endblock navbar-content %}

<!--button on navbar-->
{% block navbar-btn %}
<a href="{% url 'frontend' %}" class="btn btn-outline-primary border-light text-light btn-sm" id="btn-nav">Go Back</a>
{% endblock navbar-btn %}

<!-- Footer Color -->
{% block footer %} style="color: #d3d3d3; text-decoration: none;" {% endblock footer %}

<!--Content Page-->
{% block content %}
 <div class="container mt-5">
    <div class="card p-3 border-dark">
        <a class="btn btn-outline-dark mt-3"><i class="fa-solid fa-user-secret" id="title-login"></i>&nbsp;&nbsp; Restriced Access</a>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                <input type="text" class="form-control text-small" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control text-small" name="password" placeholder="Password">
            </div>
                <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" id="btn-enter" value="Enter">
        </form>
    </div>

    <!-- Message from backedn -->
    {% if form.errors  %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
           swal("Denied !", "Enter your data correctly.", "error");
        </script>
    {% endif  %}

    <center id="blink">
        <i class="text-primary fa-solid fa-user-plus fa-10x blink_me "></i>
    </center>

 </div> <!-- End / Container -->  
{% endblock content %}